.help-line
{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.text-form
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

}

.text-form h1
{
    font-size: 30px;
}
.text-form p
{
    font-size: 20px;
}

.text-form h2
{
    font-size: 26px;
}